
# -- --------------------------------------------------------------------------------------------------- -- #
# -- project: Quantitative analysis of the market microstructure for a crypto-asset market                                                         -- #
# -- script: requirements.txt : text file with the required libraries for the project                    -- #
# -- author: MarcoSC08                                                                       -- #
# -- license: GPL-3.0 License                                                                            -- #
# -- repository: https://github.com/MarcoSC08/myst-masc-lab1                                                                      -- #
# -- --------------------------------------------------------------------------------------------------- -- #

pandas>=1.1.0
numpy>=1.19.1
jupyter>=1.0.0
chart_studio>=1.1
plotly>=4.14
